/* Navbar */
.navbar {
    position: relative;
    z-index: 1;
}

.navbar-brand {
    font-family: 'Metal Mania', cursive;
    font-weight: 400;
    font-size: 35px;
}

.logo {
    font-family: 'Metal Mania', cursive;
    font-weight: 400;
    font-size: 35px;
    color: #333333;
}

/* Jumbotron */
.jumbotron {
    background-image: url(../assets/img/jumbotron.jpg);
    background-size: cover;
    height: 500px;
    text-align: center;
    position: relative;
}

.jumbotron .container {
    position: relative;
    z-index: 1;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
}

.jumbotron .display-4 {
    color: white;
    margin-top: 100px;
    font-weight: 200;
    font-size: 40px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    margin-bottom: 30px;
}

.jumbotron .display-4 span {
    font-weight: 500;
}

.search-panel {
    position: absolute;
    border: 3px solid #606060;
    height: 50px;
    left: 50%;
    padding: 2px;
    background-color: #E6E6E6;
    transform: translate(-50%, -50%);
    margin-top: 20px;
}

/* Utility */
.tombol {
    font-weight: 500;
}

.cari {
    border: none;
    background: none;
    outline: none;
    float: left;
    color: #333333;
    font-size: 15px;
    transition: 0.4s;
    line-height: 40px;
    margin-left: 15px;
    width: 200px;
}

.cari-btn {
    color: #FFFFFF;
    float: right;
    width: 40px;
    height: 40px;
    font-size: 16px;
    background: #0078D7;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 40px;
}

.formku {
    border: 2px solid #606060;
}

.card-body.detail {
    text-align: center;
    padding: 0px 0px 30px 0px;
}

.card-text.judul {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 5px;
}

.card-text.deskrip {
    font-weight: 200;
    font-size: 15px;
}

.card-body.tentang {
    padding: 50px;
}

.card-body.tentang img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.card-body.tentang h5 {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.card.rounded-0 {
    margin: 10px;
}

.poster1 {
    width: 233px;
    height: 380px;
    object-fit: cover;
}

.poster2 {
    width: 316px;
    height: 450px;
    object-fit: cover;
}

a {
    color: #333333;
    text-decoration: none;
}

a:hover {
    color: #333333;
    text-decoration: none;
}

/* DESKTOP */
@media (min-width: 992px) {

    .navbar-brand,
    .nav-link {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    }

    .nav-link {
        margin-right: 20px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid rgba(230, 230, 230, 0.5);
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .nav-link.active::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0078D7;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .jumbotron {
        margin-top: -78px;
        height: 500px;
    }

    .jumbotron .display-4 {
        font-size: 48px;
    }

    .cari {
        width: 300px;
    }

    .konten {
        margin-top: -120px;
    }

    .konten-2 {
        margin-top: -250px;
    }

    .konten-3 {
        margin-top: -350px;
    }
}